<h1><%= message %></h1>

<form method="GET" action="/users/login">
  <input type="submit" value="Login">
</form>
<form method="GET" action="/users/register">
  <input type="submit" value="Register">
</form>
