<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/order.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/test.js"></script>
  </head>
  <body>
    <header>
      <% include partials/_header %>
      <form method="POST" action="/users/logout">
        <input class = "topButton" type="submit" value="Logout">
      </form>
      <button class = "orangeButton" onclick="reloadPage()">Check for new orders</button>
      <a href = "/users/add">
        <button class = "navButton">Add Menu Item</button>
      </a>
    </header>

    <h1 class = "manage"> Manage Orders </h1>
    <div id="listOrders">
    <!-- Orders go here from database! -->
    </div>

    <script>
      function reloadPage() {
        location.reload();
      }

      // --------LOAD THE ORDERS FROM DATABASE---------
      $(document).ready(function(){
        loadOrders();

      //-------------MARK ORDER COMPLETE -------------
        $('div').on('click', 'button', function (event) {
          let id = $(this).parent().find(".orderId").text();
          event.preventDefault(); //Place order asynch.
            $.ajax({
                method: 'PUT',
                url: '/orders/' + id,
                data: {"id": id}
              }).done(function () {
                console.log('done');
            });
          $(this).parent().remove();
        });
      });
    </script>
  </body>
</html>


