<!DOCTYPE html>
<html>
  <head>
    <title>Thanks for ordering!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css" type="text/css"/>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div>
      <h2>Thanks for orderin!</h2>
      <p>Order recieved. We'll confirm your order shortyly.</p>
    </div>
  </body>
</html>