<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href="/stylesheets/font-awesome-4.7.0/css/font-awesome.css" type="text/css"/>
    <link rel='stylesheet' href="/stylesheets/welcome.css" type="text/css"/>
  </head>
  <style>

  </style>
  <body>
    <header>
      <% include partials/_header %>
    </header>
<div id = "container">
    <div id="welcome">
      <h2>Ordering food has never been faster</h2><br>

      <span id = "forOrder">
      <p>For the hungry:</p>
      <a class="button big" id="customer" href="/">Order</a>
      </span>
      <span id = "forManage">
      <p>For restaurant owners:</p>
      <a class="button big" id="manager" href="/orders">Manage</a>
      </span>
    </div>
</div>

  </body>
</html>