html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  height: 100%; }

header {
  margin: 0;
  padding: 0; }

a {
  color: #00a085; }

h1.manage {
  font-family: Helvetica;
  color: #00a085;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.2em;
  margin-top: 30px;
  text-align: center;
  width: 100%; }

.allOrders {
  padding: 20px;
  border: solid 3px #a7a7a7;
  width: 90%;
  max-width: 650px;
  min-width: 450px;
  margin: auto;
  border-radius: 15px;
  background-color: #ebebeb;
  margin-bottom: 20px; }
  .allOrders h1 {
    font-family: Helvetica;
    text-transform: none;
    color: #585858;
    margin: 0;
    text-align: left; }
  .allOrders .orderPhone {
    font-size: 0.5em; }
  .allOrders .orderDate {
    font-size: 0.8em;
    color: #00a085;
    text-align: left; }
  .allOrders .orderTimer {
    float: right;
    font-size: 3em;
    color: #ff7109; }
  .allOrders .complete {
    background-color: transparent;
    border: solid 3px #00a085;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #00a085; }
    .allOrders .complete:hover {
      background-color: #00a085;
      color: white; }
  .allOrders ul {
    text-align: left;
    font-size: 0.9em;
    padding: 0 0 0 20px;
    color: #585858; }

.orangeButton {
  background-color: transparent;
  color: #ff7109;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid #ff7109;
  text-transform: uppercase;
  padding: 10px 15px;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin: 0 8% 0 0; }
  .orangeButton:hover {
    background-color: #00a085;
    color: white;
    border: 2px solid #00a085; }

.topButton {
  background-color: transparent;
  color: #00a085;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid #00a085;
  text-transform: uppercase;
  padding: 10px 15px;
  vertical-align: middle;
  margin: 20px 20px 0 20px; }
  .topButton:hover {
    background-color: #00a085;
    color: white;
    border: 2px solid #00a085; }

.navButton {
  background-color: transparent;
  color: #ff7109;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid #ff7109;
  text-transform: uppercase;
  padding: 10px 15px;
  vertical-align: middle;
  margin: 20px 20px 0 20px; }
  .navButton:hover {
    background-color: #00a085;
    color: white;
    border: 2px solid #00a085; }

.standard {
  margin: 30px auto;
  width: 450px;
  background-color: #ebebeb;
  border-radius: 12px;
  border: 1px solid #585858;
  padding: 30px; }
  .standard h1 {
    text-align: center;
    margin-top: 0;
    color: #00a085; }

#submit {
  background-color: transparent;
  color: #ff7109;
  font-size: 1.2em;
  border-radius: 7px;
  border: 2px solid #ff7109;
  text-transform: uppercase;
  padding: 10px 15px;
  vertical-align: middle;
  margin: 20px auto; }
  #submit:hover {
    background-color: #00a085;
    color: white;
    border: 2px solid #00a085; }

/*# sourceMappingURL=order.css.map */
